body {
    font-family: basiic;
    background-color: rgb(94, 255, 179);
    background-image: linear-gradient(40deg, rgba(255, 255, 255, 0.377) 6.25%, rgba(255, 255, 255, 0) 6.25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.418) 50%, rgba(255, 255, 255, 0.423) 56.25%, rgba(255, 255, 255, 0) 56.25%, rgba(255, 255, 255, 0) 100%);
    background-size: 24.89px 20.89px;
    color: rgb(6, 67, 39);
    padding: 20px;
    user-select: none;
    font-size: 0.9em;
}

header {
    text-align: center;
}

header h1 {
    margin: 5px 0px;
}

header h1 img {
    width: 90%;
    max-width: 500px;
    filter: drop-shadow(3px 4px 0px rgba(78, 31, 0, 0.827));
}

header span h2 {
    width: 100%;
    background-image: none;
    animation: wobble 4s ease-in-out infinite;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

img {
    image-rendering: pixelated;
}

h2 {
    color: rgb(6, 61, 35);
    margin: 3px 0px;
    text-shadow: 3px 3px 5px rgba(13, 106, 62, 0.32);
    background-image: linear-gradient(90deg, rgba(94, 255, 179, 0) 0%, rgba(0, 192, 98, 1) 100%);
}

h3 {
    margin: 3px 0px;
}

hr {
    border: none;
    border-top: 1px dotted rgb(252, 90, 4);
}

button {
    border-radius: 0px;
    border: 2px outset #cecece;
    background-color: #e2e2e2;
    cursor: pointer;
    font-size: 1em;
    color: #272727;
    text-shadow: 1px 1px 3px rgba(134, 255, 180, 0.839);
}

button:hover {
    border: 2px inset #cecece;
    background-color: #b8b8b8;
}

input,
textarea {
    accent-color: rgba(252, 90, 4, 1);
    resize: vertical;
}

input[type="range" i] {
    color: #fc5a04;
}

label {
    padding-right: 5px;
}

#input-feedback-new,
#input-feedback-open {
    display: none;
}

#wrapper {
    display: flex;
    width: 100%;
}

#left,
#right {
    flex: 1;
    padding: 10px;
}

#right {
    background-color: white;
    color: black;
    border: 3px double rgb(252, 90, 4);
    font-size: 0.98em;
}

#right img {
    max-width: 100%;
    image-rendering: unset;
}

#input,
#output,
#generate,
#upload {
    width: 100%;
    margin: 5px 0px;
}

#generate {
    background: linear-gradient(124deg, #ff8e59, #ff6f6f, #ffdb6d, #fbff62, #80ff96, #78f7ff, #7f75ff, #f274ff, #d388ff);
    background-size: 1800% 1800%;
    animation: rainbow 20s linear infinite;
    padding: 10px;
}
#generate:hover {
    animation: rainbow 2s linear infinite;
}

#open-neocities {
    background-color: rgb(255, 170, 246);
}
#open-neocities:hover {
    background-color: rgb(183, 79, 172);
}

#upload {
    background-color: rgb(255, 136, 59);
}
#upload:hover {
    background-color: rgb(255, 172, 100);
}

.inputRow {
    width: 100%;
    display: flex;
}

.inputRow input,
.inputRow textarea,
.inputRow button {
    flex: 1;
    margin-right: 5px;
}

.inputBG {
    background-color: rgba(47, 140, 96, 0.158);
}

.inputBG label {
    flex: 2;
}

.alert {
    color: #ba0000;
}

.success {
    color: #009822;
}

/* Animation */

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
