<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{GALLERY_TITLE}</title>
        <meta itemprop="name" content="{GALLERY_TITLE}" />
        <meta itemprop="description" content="{GALLERY_INFO}" />

        <link href="gallery.css{ANTI_CACHE}" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <div id="shade"></div>
        <header>
            <img src="https://pixelsea.neocities.org/icons/boat-15.gif" alt="Boat Icon" />
            <h1>♒︎ {GALLERY_TITLE} ♒︎</h1>
            <p>{GALLERY_INFO}</p>
            <p>You see {COUNT_IMAGES} images in {COUNT_ALBUMS} albums floating about!</p>
        </header>
        <section>
            <nav id="index">
                <h2>Oceans To Explore</h2>
                <ul>
                    {ALBUMS}
                </ul>
            </nav>
        </section>
        <footer>Made with <a href="https://melonking.net/melon?z=/free/software/gallery-maker" target="_blank">Melon's Gallery {MAKER_VERSION}</a> - Updated: {LAST_UPDATE}</footer>
    </body>
</html>
