<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{ALBUM_TITLE}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{ALBUM_INFO}" />

        <link href="../gallery.css{ANTI_CACHE}" rel="stylesheet" type="text/css" media="all" />
        {CUSTOM_CSS}
    </head>
    <body>
        <header>
            <h1><a href="../index.html">&#8592; Zone Out!</a> - {GALLERY_TITLE} - {ALBUM_TITLE}</h1>
            <p>{ALBUM_INFO}</p>
        </header>
        <section>
            <nav class="page-links">{PAGELINKS}</nav>
            <section id="photos">{PHOTOS}</section>
            <nav class="page-links">{PAGELINKS}</nav>
        </section>
        <footer>Made with <a href="https://melonking.net/melon?z=/free/software/gallery-maker" target="_blank">Melon's Gallery {MAKER_VERSION}</a> - Updated: {LAST_UPDATE}</footer>
    </body>
</html>
