<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{ALBUM_TITLE}</title>
        <meta itemprop="name" content="{ALBUM_TITLE}" />
        <meta itemprop="description" content="{ALBUM_INFO}" />

        <link href="../gallery.css{ANTI_CACHE}" rel="stylesheet" type="text/css" media="all" />
        {CUSTOM_CSS}
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1><a href="../">*..+ {GALLERY_TITLE} +..*</a></h1>
                <div id="menu-zone">
                    <h2>&starf; NAVIGATION &starf;</h2>
                    <ul>
                        <li><a href="../">&#8592; Back to the Index!</a></li>
                        {ALBUMS}
                    </ul>
                </div>
            </header>
            <section>
                <h2>&star; Welcome to my {ALBUM_TITLE} album! &star;</h2>
                <p>{ALBUM_INFO}</p>
                <nav class="page-links">{PAGELINKS}</nav>
                <section id="photos">{PHOTOS}</section>
                <nav class="page-links">{PAGELINKS}</nav>
            </section>
            <footer>Made with <a href="https://forum.melonland.net/index.php?topic=2088">Melon's Gallery {MAKER_VERSION}</a> - Updated: {LAST_UPDATE}</footer>
        </div>
    </body>
</html>
