<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{GALLERY_TITLE}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="{GALLERY_INFO}" />

        <link href="gallery.css{ANTI_CACHE}" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>*..+ {GALLERY_TITLE} +..*</h1>
                <p>{GALLERY_INFO}</p>
                <p>This gallery contains {COUNT_IMAGES} images in {COUNT_ALBUMS} albums!</p>
            </header>
            <section>
                <nav id="index">
                    <h2>&starf; NAVIGATION &starf;</h2>
                    <ul>
                        {ALBUMS}
                    </ul>
                </nav>
            </section>
            <footer>Made with <a href="https://melonking.net/melon?z=/free/software/gallery-maker">Melon's Gallery Maker {MAKER_VERSION}</a>! - Updated: {LAST_UPDATE}</footer>
        </div>
    </body>
</html>
